body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #EEE;
}

#container {
  	padding: 25px 40px 10px 40px; 
  	border: 1px solid #ccc;
  	background:#fff;
  	margin:1em auto;
}

