<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Page Can't be Found</title>
</head>
<body>
    <h1>Page Can't be Found (Error 404)</h1>
    <p>For one reason or another (mis-typed URL, faulty referral from another
    site out-of-date search engine listing, or I simply deleted a file) the page
    you were after is not here.</p>
    
    <h2>What to do now?</h2>
    <p>You could:</p>
    <ul>
        <li><a href='/'>Start at the main page</a></li>
        <li><a href='/sites2seq/'>Go to the sites2seq main page</a></li>
    </ul>
</body>
</html>
