{% extends "base.html" %}

{% block content %}

<h3>Problems and Suggestions</h3>
<p>Please submit <a
    href="http://raaum.lighthouseapp.com/projects/15900-mitomotifsapp/tickets/new">a
    new ticket</a> at <a
    href="http://raaum.lighthouseapp.com/projects/15900-mitomotifsapp/overview">my
    issue tracker</a> for any problems or suggestions.</p>

<h3>Source Code</h3>
<p>If you are looking for the source code for this application, see the
information on the <a href="/documentation">documentation</a> page.  

<h3>Otherwise</h3>
<p>My full contact information can be found on the <a href="http://www.raaum.org/contact">contact</a> page on my main <a href="http://www.raaum.org">web site</a>.</p>

{% endblock %}
