{% extends "base.html" %}

{% block title %}MitoMotif Tools: Seq2Sites{% endblock %}

{% block javascript %}
<script language="JavaScript">
function seq_example_fill() {
  document.mitoform.content.value='TTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAACC\nGCTATGTATTTCGTACATTACTGCCAGCCACCATGAATATTGTACGGTACCATAAATACT\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAAACCCCCTCCTCATGCTTACAA\nGCAAGTACAGCAATCAACCCTCAACTATCACACATCAACTGCAACTCCAAAGTCACCCCT\nCACCCATTAGGATACCAACAAACCTACCCATCCTTAACAGTACATAGTACATAAAGCCAT\nTTACCGTACATAGCACATTACAGTCAAATCCCTTCTCGTCCC';
}
function fasta_example_fill() {
  document.mitoform.content.value='>Seq1\nTTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAAC\nGCTATGTATTTCGTACATTACTGCCAGCCACCATGAATATTGTACGGTACCATAAATAC\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAAACCCCCCCCTCATGCTTACA\nGCAAGTACAGCAATCAACC\n>Seq2\nTTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAAC\nGCTATGTATCTCGTACATTACTGCCAGCCACCATGAATATTGTACAGTACCATAAATAC\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAA-CCCCCCCCCCATGCTTACA\nGCAAGTACAGCAATCAACC\n';
}
function clear_content() {
  document.mitoform.content.value='';
  document.mitoform.content.focus();
}
function toggleLayer( whichLayer )
{
  var elem, vis;
  if( document.getElementById ) // this is the way the standards work
    elem = document.getElementById( whichLayer );
  else if( document.all ) // this is the way old msie versions work
      elem = document.all[whichLayer];
  else if( document.layers ) // this is the way nn4 works
    elem = document.layers[whichLayer];
  vis = elem.style;
  // if the style.display value is blank we try to figure it out here
  if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
    vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'block':'none';
  vis.display = (vis.display==''||vis.display=='block')?'none':'block';
}
</script>
{% endblock %}

{% block content %}
<p>Identify variant sites in human mitochondrial DNA sequence data.</p>
<form name="mitoform" class="queryform" action="results" method="post">
  <div class="querybox">
  	<label for="content">Enter FASTA format sequences
	<a class="clearlink hiding" title="help" href="javascript:void(0);" 
       onclick="javascript:toggleLayer('hq');"><span>[help]</span>
	</a>
	(<a class="clearlink" title="clear" href="javascript:void(0);" 
        onclick="javascript:clear_content()">clear</a>)
	</label>
	<div class="helpbox hidden" id="hq">
    Human mtDNA sequence(s) to be analyzed should be pasted in the text area. 
	A single sequence may be pasted 'raw' 
	(<a class="clearlink" href="javascript:void(0);" 
        onClick="javascript:seq_example_fill()">example</a>)
	or in 
	<a href="http://en.wikipedia.org/wiki/Fasta_format" target="_blank">
	FASTA format</a>. If you submit more than one sequence, you must use
	FASTA format 
	(<a class="clearlink" href="javascript:void(0);" 
        onClick="javascript:fasta_example_fill()">example</a>).
    </div> 
    <textarea name="content" class="reset" rows="10" cols="60"></textarea>
  </div>

  <div class="submitbox">
    <input type="submit" value="Submit" default="true">
  </div>

  <span class="optiontitle">Haplogroup Identifier
    <a class="clearlink hiding" title="help" href="javascript:void(0);" 
       onclick="javascript:toggleLayer('aq');"><span>[help]</span>
	</a>
  </span>
  <div class="helpbox hidden" id="aq">
  Formats data on substitutions and insertions between sites 16023 and 16569
  for the Genographic w-NN haplogroup caller
  (http://nnhgtool.nationalgeographic.com/classify/). This means that all
  sites outside of this region will not be shown, no deletions will be
  shown, and no sequence identifiers will be shown. You may then copy these
  data and submit them to the Genographic Haplotype Identifier. (When various
  technical difficulties become resolvable, this process will be automated
  in a much more user-friendly manner.)
  </div>
  <ul class="optionlist">
  <li><input id="wNN" type="checkbox" name="wNN" value="yes" >
  <label for="wNN">Format for Genographic w-NN Haplogroup Identifier?</label></li>
  </ul>

</form>
<h4>Limits</h4>
<p>The underlying implementation of this web service does not allow
long-running requests, which means not too many 
sequences at once. The current limits are based upon the length of
the sequences you submit and are:</p>
<ul>
  <li>Sequences &lt;= {{ cutoff }}bp, up to {{ max_short }} 
    sequences at a time.</li>
  <li>Sequences &gt; {{ cutoff }}bp, up to {{ max_long }} 
    sequences at a time.</li>
</ul>
{% endblock %}
