<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>MitoMotifs Tools: Sites2Seq</title>
    <script language="JavaScript">
function seq_example_fill() {
    document.mitoform.content.value='TTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAACC\nGCTATGTATTTCGTACATTACTGCCAGCCACCATGAATATTGTACGGTACCATAAATACT\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAAACCCCCTCCTCATGCTTACAA\nGCAAGTACAGCAATCAACCCTCAACTATCACACATCAACTGCAACTCCAAAGTCACCCCT\nCACCCATTAGGATACCAACAAACCTACCCATCCTTAACAGTACATAGTACATAAAGCCAT\nTTACCGTACATAGCACATTACAGTCAAATCCCTTCTCGTCCC';
}
function fasta_example_fill() {
    document.mitoform.content.value='>Seq1\nTTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAAC\nGCTATGTATTTCGTACATTACTGCCAGCCACCATGAATATTGTACGGTACCATAAATAC\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAAACCCCCCCCTCATGCTTACA\nGCAAGTACAGCAATCAACC\n>Seq2\nTTCTTTCATGGGGAAGCAGATTTGGGTACCACCCAAGTATTGACTCACCCATCAACAAC\nGCTATGTATCTCGTACATTACTGCCAGCCACCATGAATATTGTACAGTACCATAAATAC\nTGACCACCTGTAGTACATAAAAACCCAATCCACATCAAA-CCCCCCCCCCATGCTTACA\nGCAAGTACAGCAATCAACC\n';
}
function clear_content() {
    document.mitoform.content.value='';
}
    </script>
</head>
<body>
    <form name="mitoform" action="submit" method="post">
        <div>
            <h4>Input format</h4>
            <p>For 'Sequence Only', and 'Name and Sequence', enter sequences 
            on separate lines. If using a name, that should be the first thing
            on each line, followed by a space (any number of spaces is ok). 
            <p>If submitting sequences in FASTA format, simply paste in 
            properly formatted FASTA sequences. Please note that there are
            limits on the number of sequences you may submit at one time.
            These limits are based on the size of the input range you choose
            below.</p>
            <ul>
                <li><input type="radio" name="format" value="single_seq"         >
                Single Sequence 
                (<a href="#" onClick="javascript:seq_example_fill()">See Example</a>)
                </li>
                <li><input type="radio" name="format" value="fasta"      checked >
                Multiple sequences in FASTA format 
                (<a href="#" onClick="javascript:fasta_example_fill()">See Example</a>)
                </li>
            </ul>
        </div>
        <div>
            <h4>Sequence input is in range:</h4>
            <p>Select the sequence range in which your sequences fall. It is
            important that your sequences fall completely within the range.
            For this reason, the options are fairly generous for their labels
            (i.e. the HVR1-named range here is substantially larger than the
            true HVR1 region). If in doubt, select 'All'.</p>
            <p>It is also very important that your provided sequences are in
            the order of the input range. That is, if you have both HVR1 and
            HVR2 combined in the order HVR1, then HVR2, then you MUST select
            the 'HVR1 through HVR2' option. Alternatively (and unusually) if 
            you have both HVR1 and HVR2, but have concatenated them in the
            order HVR2, then HVR1, then you must choose the 'All' range
            option. Finally, if you have sequences that run
            past the standard "end" of the mtDNA genome that are longer than
            the offered 'HVR1 through HVR2' range, you will have to cut and
            shuffle your sequences so that they fall in the 1-16569 range
            in that order.</p>
            <ul>
                <li><input type="radio" name="seq_range" value="hvr1"     checked >
                    HVR1 (positions 15993-16569)</li>
                <li><input type="radio" name="seq_range" value="hvr2"             >
                    HVR2 (positions 1-576)</li>
                <li><input type="radio" name="seq_range" value="hvr1to2"          >
                    HVR1 through HVR2 (positions 15993-576)</li>
                <li><input type="radio" name="seq_range" value="coding"           >
                    Coding Region (positions 577-15992)</li>
                <li><input type="radio" name="seq_range" value="all"              >
                    All (positions 1-16569)</li>
            </ul>
        </div>
        <div><textarea name="content" rows="10" cols="60"></textarea></div>
        <div><input type="submit" value="Submit"></div>
    </form>
</body>
</html>
