<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>MitoMotifs Tools: Sites2Seq</title>
    <script language="JavaScript">
function motif_only() {
    document.mitoform.content.value='16129A 16223T\n16129A,16223T\n16129A;16223T';
}
function name_and_motif() {
    document.mitoform.content.value='Ind1 16129A 16223T\nInd2,16129A,16223T\nInd3;16129A;16223T';
}
function name_n_and_motif() {
    document.mitoform.content.value='Ind1 1 16129A 16223T\nInd2,2,16129A,16223T\nInd3;3;16129A;16223T';
}
function clear_content() {
    document.mitoform.content.value='';
}
    </script>
</head>
<body>
    <form name="mitoform" action="results" method="post">
        <div>
            <h4>Format</h4>
            <p>Enter separate individuals/haplotypes on separate lines.
            Commas (,) and semi-colons (;) within the line are ok (will be
            ignored).</p>
            <ul>
                <li><input type="radio" name="format" value="motif_only"     checked >
                Motif Only 
                (<a href="javascript:void(0);" onClick="javascript:motif_only()"
                >see example</a>) 
                </li>
                <li><input type="radio" name="format" value="name_and_motif"         >
                Name and Motif 
                (<a href="javascript:void(0);" onClick="javascript:name_and_motif()"
                >see example</a>) 
                </li>
                <li><input type="radio" name="format" value="name_n_and_motif"       >
                Name, N, and Motif 
                (<a href="javascript:void(0);" onClick="javascript:name_n_and_motif()"
                >see example</a>) 
                </li>
            </ul>
        </div>
        <div>
            <h4>Output</h4>
            <ul>
                <li><input type="radio" name="output" value="hvr1"     checked >
                    HVR1 (positions 16024-16365)</li>
                <li><input type="radio" name="output" value="hvr2"             >
                    HVR2 (positions 73-340)</li>
                <li><input type="radio" name="output" value="hvr1and2"         >
                    HVR1 and HVR2 (positions 16024-16365 and 73-340)</li>
                <li><input type="radio" name="output" value="hvr1to2"          >
                    HVR1 through HVR2 (positions 16024-16569 and 1-340)</li>
                <li><input type="radio" name="output" value="coding"           >
                    Coding Region (positions 577-15992)</li>
                <li><input type="radio" name="output" value="all"              >
                    All (positions 1-16569)</li>
            </ul>
        </div>
        <p>To retrieve the revised Cambridge Reference Sequence, use 'rCRS' as the motif.</p>
        <div><textarea name="content" rows="10" cols="60"></textarea></div>
        <div>
            <input type="submit" value="Submit" default="true">
            (<a href="javascript:void(0);" onClick="javascript:clear_content()"
                >clear contents</a>)
        </div>
    </form>
</body>
</html>
